.inventory-table {
  text-align: center;
  border-collapse: collapse;
  font-weight: 300;
  width: 100%;
}
.inventory-table th {
  font-size: 12px;
}

.inventory-table td {
  font-size: 12px;
}

.inventory-table td , .inventory-table th {
  border: 1px solid var(--border);
}

.inventory-table-header {
  height: 34px;
  min-width: 198.63px;
  width: 198.63px;
  background-color: var(--color-gray-100);
  color: var(--color-primary);
}

.inventory-table-body td {
  height: 42px;
  width: 198.63px;
  background-color: #fff;
  color: #151515;

}

/* 드롭다운용 */

.dropdown-right-List{
    position: absolute;
    z-index: 10;
    background: var(--color-inverse);
    border: 1px solid var(--border);
    width: 100%;
    border-radius: var(--radius-lg);
    top: 31px;
    left: 0;
    box-sizing: border-box;
}
/* .dropdown-right-List span{

} */
.dropdown-right-List .dropdown-Item {
    background: #fff;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
}
.dropdown-right-List .dropdown-Item:hover{
    background: var(--color-primary-light);
}
.dropdown-right-List .dropdown-Item.active{
    background: var(--color-primary);
    color: var(--text-inverse);
    font-weight: 200;
}

/* 공용 */
.Page-Btn-container{
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
}

.Btn-container{
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.modal-Row-Item-title{
  width: 80px;
  flex-shrink: 0;
}

.modal-Row-Item-Group-Input {
  width: 80px;
  margin-right: 5px;
}

.modal-Row-Item-title-box {
  display: flex;
  gap: 5px;
  text-align: center;
  flex: 1 ;
}

.modal-Row-Item-title-Body {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.modal-Row-Item-title-Body input{
  width: 100%;
}

.viewer-wrapper {
  border: 1px solid var(--border);;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}

.viewer-wrapper p {
  padding: 10px;
  width: 100%;
}

/* 물폼선택 모달 테이블 */

.modal-Table {
  margin: 17px 15px 0;
  padding: 20px;
  background: var(--color-inverse);
  border-radius: var(--radius-lg);
  box-sizing: border-box;text-align: center;
  border-collapse: collapse;
  font-weight: 300;
  max-width: 620px;
}

.modal-Select-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-Select-Container {
    width: 650px;
    background: var(--color-modal);
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.modal-Table-Form {
  background: var(--color-inverse);
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  text-align: center;
  border-collapse: collapse;
  font-weight: 300;
  width: 100%;
  margin-top: 10px;
  table-layout: fixed;
}

.modal-Table-Form  th {
  font-size: 12px;
}

.modal-Table-Form td {
  font-size: 12px;
}

.modal-Table-Form  th {
  border: 1px solid var(--border);
}

.modal-Table-Form td {
   border: 1px solid var(--border);
}

.modal-Table-Form td input{
   height: 100%;
   font-size: 0.8rem;
   border: 0px;
   text-overflow: ellipsis;
}

.modal-Table-Form input {
  width: 100% !important;
}

.modal-Table-Form-header {
  height: 34px;
  background-color: var(--color-gray-100);
  color: #091B72;
}

.modal-Table-Form-body td {
  height: 42px;
  background-color: #fff;
  color: #151515;

}

.modal-Container-TableFrom {
    width: 1000px;
    background: var(--color-modal);
    height: 800px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

}

.Del-button{
  padding: 4px 14px;
  background-color: #DA5C57;
  /* background: #5E5C77; */
  color: #fff;
  border-radius: 7px;
  font-weight: 100;
  cursor: pointer;

}

.Date-Header-Input {
  width: 140px !important;
}

.Time-Header-Input {
  width: 40px !important;
}

.Time-Header-Box {
 display: flex;
 gap: 3px;
}

.modal-Table-Form-body input[type='checkbox'] {
  height: 24px;
  width: 24px;
}

.modal-Table-Form input[type='checkbox']:focus,
.modal-Table-Form input[type='checkbox']:active {
  cursor: pointer;
  outline: none;
  box-shadow: none;
}


.Select-Pointer {
  cursor: pointer;
}