.calendar-Wrapper{
    background: var(--color-inverse);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    width: 100%;
    padding: 10px 16px 25px;
    box-sizing: border-box;
}
.mainCalendar-Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.mainCalendar-Header p{
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--text-primary);
}
.mainCalendar-Header-Icon{
    display: flex;
    align-items: center;
    gap: 9px;
}
.calendar-Body{
    margin-top: var(--spacing-lg);
}