.calendar-Wrapper{
    background: var(--color-inverse);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    height: 578px;
}
.mainCalendar-Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.mainCalendar-Header p{
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--text-primary);
}
.calendar-Body{
    margin-top: 30px;
}