.notice-Wrapper{
    background: var(--color-inverse);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    height: 278px;
}
.notice-Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.notice-Header p{
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--text-primary);
}

.notice-Table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    border:1px solid var(--border);
    height: 202px;
    overflow-y: auto;
    display: block;
    overflow-x:hidden;
}
.notice-Table thead{
    background: var(--color-gray-100);
    border-top: 1px solid var(--border-dark);
    border-bottom: 1px solid var(--border);
}
.notice-Table thead tr th{
    padding: 6px 8px;
    font-size: var(--font-xs);
    font-weight: 500;
    border-right: 1px solid var(--border);
    color: var(--text-secondary);
}
.notice-Table thead, .notice-Table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.notice-Table thead tr th:nth-child(1), .notice-Table tbody tr td:nth-child(1){
    width: 50%;
}
.notice-Table thead tr th:nth-child(2),.notice-Table tbody tr td:nth-child(2){
    width: 20%;
    text-align: center;
}
.notice-Table thead tr th:nth-child(3),.notice-Table tbody tr td:nth-child(3){
    width: 20%;
    text-align: center;
}
.notice-Table thead tr th:nth-child(4),.notice-Table tbody tr td:nth-child(4){
    width: 10%;
    text-align: center;
}
.notice-Table thead tr th:last-child{
    border-right: none;
}
.notice-Table tbody tr{
    border-bottom: 1px solid var(--border);
}
.notice-Table tbody tr:hover{
    background: var(--color-primary-light);
}
.notice-Table tbody tr td{
    padding: 7px 8px;
    font-size: var(--font-xs);
    font-weight: 300;
    color: var(--text-primary);
    border-right: 1px solid var(--border);
}
.notice-Table tbody tr td:last-child{
    border-right: none;
}
.notice-IsNotice{
    color: var(--color-inverse);
    background: #DA5C57;
    font-size: 11px;
    padding: 3px 14px;
    border-radius: 15px;
    margin-right: 6px;
}
.notice-IsLoading{
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice-IsNotice-Row {
    background: #FFF6F6;
}

.notice-Table tbody tr.notice-IsNotice-Row:hover {
    background: #FFF0F0;
}