.team_Wrapper {
    background: var(--color-inverse);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    height: 578px;
}
.team-Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.team-Header p{
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--text-primary);
}
.recharts-wrapper:focus,
 .recharts-surface:focus,
 .recharts-zIndex-layer_300:focus {
     outline: none;
 }