.calendar-Header{
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 0 auto 14px;
    align-items: center;
}
.calendar-Header button{
    align-items: center;
    display: flex;
}
.calendar-DayCon{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    border-top: 1px solid var(--border-dark);
    font-size: var(--font-xs);
    font-weight: 400;
}
.day-Header{
    border-left: 1px solid var(--border);
    padding: 8px 0;
    border-bottom: 1px solid var(--border);
    background: var(--color-gray-100);
}
.day-Header:last-child{border-right: 1px solid var(--border)}
.calendar-DateCon{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-EmptyDate{padding: 6px 4px; height: 48px;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background: var(--color-gray-50);
}
.calendar-Date{
    padding: 6px 4px; height: 48px;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    font-size: var(--font-xs);
    color: var(--text-secondary);
}
.calendar-Date:nth-child(7n){border-right: 1px solid var(--border);}
.calendar-Date:last-child{border-right: 1px solid var(--border);}