.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  background-color: #FFF;
  border-bottom: 1px solid #EEE;
}

.logo {
  margin-left: 33px;
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #4B4D62;
}

.menu-List {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 40px;
  gap: 30px;
}

.menu-Item {
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
  color: #151515;
  cursor: pointer;
}