/* ----------헤더css----------- */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

.header-container {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 33px;
    box-sizing: border-box;
    position: relative;
    font-family: "Pretendard Variable", sans-serif;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 215px;
    z-index: 10;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #4D4B62;
    cursor: pointer;
    letter-spacing: -0.02em;
    line-height: 1;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-Open{display: flex; justify-content: center; align-items: center}
.header-nav-item {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: #151515;
    cursor: pointer;
    padding: 0;
    white-space: nowrap;
}

.header-nav-item:after{
    padding-right: 100px;
    margin-right: 200px;
}

.header-nav-item:hover {
    color: #4D4B62;
}

/* --------------------------- */

/* --------사이드바css--------- */
/* 사이드바 전체 컨테이너 */
.sidebar {
    width:273px;
    height: calc(100vh - 48px);
    background: #5E5C77;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    transition: width 0.3s ease;
}
/* 상단 알림 바 */
.sidebar-notification{
    padding: 12px 15px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #4D4B62;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    gap: 8px;
}
.notifi-bell {
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
}
.notif-text {
    font-size: 12px;
}
.notif-dot {
    color: #DA5C57;
    font-size: 10px;
    margin-left: auto;
}

.sidebar-user-card{
    height: 45px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.user-avatar-circle {
    width: 42px;
    height: 42px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
.user-info-detail {
    flex: 1;
}

.user-name-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}
.u-name {
    font-size: 14px;
    font-weight: 300;
}
.u-sub-info {
    font-size: 12px;
    opacity: 0.6;
    margin: 0;
    font-weight: 100;
}

.icon-arrow-right {
    font-size: 10px;
    opacity: 0.5;
}
/* 메뉴 리스트 영역 */
.side-menu-List {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
/* 상위 카테고리 */
.group-Title {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.group-Title:hover, .group-Title.is-Active {
    background-color: #4D4B62;
    cursor: pointer;
}

.icon-Arrow {
    font-size: 12px;
    width: 15px;
}
/* 소메뉴 리스트 */
.sub-menu-List {
    list-style: none;
    padding: 0;

}

.sub-menu-Item {
    font-weight: 200;
    padding: 8px 10px 8px 40px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sub-menu-Item:hover {
    background-color: #4D4B62;
    opacity: 1;
}

/* 푸터 (로그아웃) */
.sidebar-footer {
    height: 52px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #65627E;
    flex-shrink: 0;
}

.sidebar-footer:hover {
    background-color: #4D4B62;
}

.sidebar-footer span:first-child {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    color: #ffffff;
    line-height: 1;
}

.icon-logout {
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
/* --------------------------- */

.main{
    flex: 1;
    position: relative;
    padding: 24px 29px;
    min-height: 0;
}
.layout-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


@media (max-width: 1024px) {
    /*.header-nav{display: none;}*/
        /*    .header-container {*/
        /*        padding: 0 20px;*/
        /*    }*/
        /*    .header-nav {*/
        /*        gap: 20px;*/
        /*    }*/
        /*    .sidebar { width: 200px; }*/
        /*}*/
}
/*@media (max-width: 768px) {*/

/*    !*.header-nav {*!*/
/*    !*    position: static;*!*/
/*    !*    transform: none;*!*/
/*    !*    left: auto;*!*/

/*    !*    display: flex;*!*/
/*    !*    gap: 15px;*!*/
/*    !*}*!*/

/*    !*.header-nav-item {*!*/
/*    !*    font-size: 13px; !* 글자 크기 축소 *!*!*/
/*    !*}*!*/


/*    !*.sidebar {*!*/
/*    !*    width: 145px;*!*/
/*    !*}*!*/

/*    !*!* 모바일에서 글자 크기 조정 *!*!*/
/*    !*.group-Title { padding: 12px; font-size: 13px; }*!*/
/*}*/