.mainPage-Wrapper{
    background: red;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:12px;
    padding: 24px;
    box-sizing: border-box;
}
.mainPage-Wrapper .left-Section{
    background: yellow;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mainPage-Wrapper .left-Section .top-Card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.mainPage-Wrapper .main-Card{
    background: var(--color-inverse);
    border-radius: var(--radius-md);
}
.mainPage-Wrapper .right-Section{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: blue;
}